@import 'variables';

@mixin text($size: 20px, $lineHeight: 35px, $color: $black, $font: $helveticaNeueRegular) {
     font-family: $font;
     font-size: $size;
     line-height: $lineHeight;
     color: $color;
}

@mixin flex($jc: space-between, $ai: center) {
     display: flex;
     justify-content: $jc;
     align-items: $ai;
}