@import 'variables';

@mixin text($size: 20px, $lineHeight: 35px, $weight: 600, $color: $black) {
     font-size: $size;
     line-height: $lineHeight;
     font-weight: $weight;
     color: $color;
}

@mixin flex($jc: space-between, $ai: center) {
     display: flex;
     justify-content: $jc;
     align-items: $ai;
}