// Colors
$green: #A0A747;
$black: #1a1a1a;
$gray: #646562;
// Fonts
$helveticaNeueRegular: 'Helvetica Neue Regular';
$interMedium: 'Inter Medium';
$travelsMedium: 'TT Travels Medium';
$travelsBold: 'TT Travels Bold';
// Others
$containerWidth: 1180px;